name: proxmox
version: __VERSION__
home: https://github.com/iamveen/devpod-proxmox-provider
description: |
  DevPod machine provider that provisions KVM virtual machines on Proxmox VE
  to host development workspaces.
optionGroups:
  - name: "Connection"
    options:
      - PROXMOX_HOST
      - PROXMOX_PORT
      - PROXMOX_USER
      - PROXMOX_TOKEN
      - PROXMOX_NODE
  - name: "Resources"
    options:
      - PROXMOX_TEMPLATE
      - PROXMOX_STORAGE
      - PROXMOX_NETWORK
      - PROXMOX_VM_START_ID
  - name: "VM Specs"
    defaultVisible: false
    options:
      - VM_MEMORY
      - VM_CORES
      - VM_DISK_SIZE
      - VM_OS_TYPE
options:
  PROXMOX_HOST:
    description: "Proxmox VE hostname or IP address"
    required: true
  PROXMOX_PORT:
    description: "Proxmox API port"
    default: "8006"
  PROXMOX_USER:
    description: "Proxmox user for API authentication (e.g. root@pam)"
    required: true
  PROXMOX_TOKEN:
    description: "Proxmox API token in format USER@REALM!TOKENID=SECRET"
    required: true
    password: true
  PROXMOX_NODE:
    description: "Proxmox node name to create VMs on"
    required: true
  PROXMOX_TEMPLATE:
    description: "Name of the cloud-init VM template (created by setup.sh)"
    required: true
  PROXMOX_STORAGE:
    description: "Storage pool for VM disks"
    default: "local-lvm"
  PROXMOX_NETWORK:
    description: "Network bridge to attach VMs to"
    default: "vmbr0"
  PROXMOX_VM_START_ID:
    description: "Starting VMID for machine VMs (auto-increments until free ID found)"
    default: "2000"
  VM_MEMORY:
    description: "VM memory in MB"
    default: "4096"
  VM_CORES:
    description: "Number of vCPU cores"
    default: "2"
  VM_DISK_SIZE:
    description: "VM disk size in GB"
    default: "50"
  VM_OS_TYPE:
    description: "Proxmox OS type for the VM"
    default: "l26"
agent:
  path: ~/.devpod/agent
  dataPath: ~/.devpod/data
  inactivityTimeout: ""
  injectGitCredentials: false
  injectDockerCredentials: false
  driver: docker
  docker:
    install: true
  exec:
    shutdown: ${PROXMOX_PROVIDER} stop
binaries:
  PROXMOX_PROVIDER:
    - os: linux
      arch: amd64
      path: __LINUX_AMD64_URL__
      checksum: __LINUX_AMD64_SHA__
    - os: linux
      arch: arm64
      path: __LINUX_ARM64_URL__
      checksum: __LINUX_ARM64_SHA__
    - os: darwin
      arch: amd64
      path: __DARWIN_AMD64_URL__
      checksum: __DARWIN_AMD64_SHA__
    - os: darwin
      arch: arm64
      path: __DARWIN_ARM64_URL__
      checksum: __DARWIN_ARM64_SHA__
exec:
  init: ${PROXMOX_PROVIDER} init
  create: ${PROXMOX_PROVIDER} create
  delete: ${PROXMOX_PROVIDER} delete
  start: ${PROXMOX_PROVIDER} start
  stop: ${PROXMOX_PROVIDER} stop
  status: ${PROXMOX_PROVIDER} status
  command: ${PROXMOX_PROVIDER} command
